.navbar-title{
    color: white !important;
    font-size: 25px;
    font-weight: bold;
    padding-right:15px;
}
.navbar-style{
    background-color: #005eb8;
}

.navbar-brand{
    padding-bottom: 0px;
}

/*Makes it so buttons are in background when modal is shown. */
.input-group-append{
    z-index: 0;
}


/*For mobile view to take up full width of screen.*/
@media screen and (min-width: 992px) {
    .navbar-group {
        width: 275px;
    }
}

.navbar-input{
    height: auto;
    border-right: none;
}

.navbar-input,
.search-button {
    border-radius: 20px;
}

.search-button:focus,
.navbar-input:focus {
    outline: none;
    box-shadow: none;
}

.search-button,
.search-button:hover,
.search-button:focus {
    background: #fff;
    border: 1px solid #ced4da;
    border-left: none;
}
